body{
  background-color: rgb(56, 38, 28);
}

#board{
  width:80vh;
  height:80vh;
  background-color: black;
  margin: auto;
  margin-top: 10vh;
}

.tile{
  width: 10vh;
  height: 10vh;
  background-color: rgb(200, 189, 180);
  float: left;
}

.tile.white{
  background-color: rgb(75, 129, 39);
}

.piece{
  width: 8vh;
  height: 8vh;
  position: relative;
  top: 1vh;
  left: 1vh;

  background-image: url("image.png");
  background-size: 50vh;
}


.q{
  background-position-x: -8.5vh;
}

.r{
  background-position-x: -33.5vh;
}

.b{
  background-position-x: -17vh;
}

.n{
  background-position-x: -25.5vh;
}

.p{
  background-position-x: -42vh;
}

.piece.black{
  background-position-y: 8vh;
}

.tile.white:hover{
  background-color: rgb(119, 185, 81);
}

.tile:hover{
  background-color: rgb(221, 221, 221);
}
.tile.active, .tile.active:hover{
  background-color: red;
}