body{
  background-color: rgb(26, 24, 23);
  font-family: monospace;
}

#board{
  width:80vh;
  height:80vh;
  background-color: rgb(64, 59, 59);
  margin-top: 10vh;
  margin-left: 50vh;
}

.tile{
  width: 10vh;
  height: 10vh;
  background-color: rgb(200, 189, 180);
  float: left;
}

.tile.white{
  background-color: rgb(75, 129, 39);
}

.piece{
  width: 8vh;
  height: 8vh;
  position: relative;
  top: 1vh;
  left: 1vh;

  background-image: url("pieces.png");
  background-size: 50vh;
}


.q{
  background-position-x: -8.5vh;
}

.r{
  background-position-x: -33.5vh;
}

.b{
  background-position-x: -17vh;
}

.n{
  background-position-x: -25.5vh;
}

.p{
  background-position-x: -42vh;
}

.piece.black{
  background-position-y: 8vh;
}

.tile.white:hover{
  background-color: rgb(119, 185, 81);
}

.tile:hover{
  background-color: rgb(221, 221, 221);
}
.tile.active, .tile.active:hover{
  background-color: red;
}

#status{
  color: aliceblue;
  text-align: center;
  width:20vh;
  margin: auto;
  margin-top: 2vh;
  font-size: 2em;
}

#character{
  position: absolute;
  margin-left: 2vh;
  background-color: rgb(46, 46, 46);
  padding:1vh;
  border-radius: 1vh;
  border: 1px solid gold;
  text-align: center  ;
}

#face{
  font-size: 10vh;
  margin: auto;
}

#history{
  width:10vh;
  position: absolute;
  margin-top: 10vh;
  margin-left: 135vh;
  background-color: gray;
  border-radius: 1vh;
  border: 1px solid gold;
  max-height: 40vh;
  overflow: auto;
}

#history>p{
  color:white;
  font-family: monospace;
  cursor: pointer;
  background-color: rgb(92, 92, 92);
  text-align: center;
  margin:0;
  padding:.5em;
}

#history>p:hover{
  background-color: grey;
}

#chat{
  background-color: rgb(69, 75, 79);
  border: 1px solid gold;
  width:30vh;
  height: 60vh;
}

#chat>p{
  color:white;
  font-size: 2vh;
}

